@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Trebuchet MS", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #d1d1d1;
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
