<div class="flex flex-col gap-8 items-center">
  @if(numbers && numbers.length > 0){
    <div class="md:text-[5rem] text-[2rem] flex flex-row gap-2">
    @for(number of numbers; track number){
      <span class="bg-white/10 md:rounded-xl rounded-md px-2 py-1">{{number}}</span>
    }
    </div>
  } @else {
    <div class="md:text-[5rem] text-[2rem] flex flex-row gap-2">
      @for(_ of [].constructor(5); track _){
        <span class="bg-white/10 md:rounded-xl rounded-md px-2 py-1">__</span>
      }
    </div>
  }
  <button (click)="generate()" class="px-4 py-2 bg-teal-500 rounded-full hover:bg-teal-600 transition-colors">
    Draw @if(numbers && numbers.length > 0){<span>again</span>}
  </button>



  @if(error){
    <div class="mt-4 text-red-500">
      <p>{{ error }}</p>
    </div>
  }
</div>
